<div id="sidebar">
  <img id="profile-photo" src="{{ site.profile_photo_path | prepend: site.baseurl }}"/>
  <header>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      {{ site.title }}
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead">{{ site.description }}</p>
  </header>
  {% include sidebar-nav-links.html %}

  {% if site.version %}
    <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}

  {% include sidebar-icon-links.html %}
  {% include copyright.html %}
</div>
